body{
   background-image: url("/static/images/back3.jpg");
  min-height: 100vh;
  background-repeat: no-repeat
}


.btn {
  margin: 5px;
  background-color: #11b42c;
  border-style: solid;
  width: fit-content;
  padding: 10px 10px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  cursor: pointer;
}

.btn:hover {
  color: #050801;
}

h1,h2,h3{
  font-family: 'Playfair Display', serif;
}
