body{
    background-color: black;
    
}

/* registration form */
.form-rl{
    width: 50%;
    margin: 0 25%;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 8px #bbf321;
}