{% extends 'business/base.html'%}{% load django_bootstrap5 %} {% block content %} {{block.super}}
<center>
	<h2 style="color: white;margin-bottom: 50px;">Kindly Upload your Profile Picture and Bio below</h2>
	<div class=" form col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4 ">
		<form action=" {%url 'new_profile'%} " method="POST" enctype="multipart/form-data">
			{%csrf_token%} {% bootstrap_form form%}
			<button type=" submit " class=" btn btn-lg " value=" Post ">Post</button>
		</form>
	</div>
</center>
<style>
	.form{
    margin: 40px;
    width: 40vw;
	  padding: 20px;
	  background-color: rgba(41, 162, 1, 0.575);
	  color: rgb(0, 0, 0);
	  border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);

	}

</style>

{% endblock%}