{%extends 'business/base.html'%}

{% block content %}
{{block.super}}
{% for death in deaths%}
<p>Death reason{{death.reason}}</p>

{% endfor%}
<h3>Projected Profit:</h3>
<p>{{exp_profit}}</p>
<a class="btn" href="">Details</a>

<h3>Actual Profits:</h3>
<p>{{real_profit}}</p>
<a class="btn" href="">Details</a>

<div>
  <h3>Total Sales</h3>
  <p>{{rev}}</p>
  <a class="btn" href="">Details</a>

</div>
<h3>Expenses</h3>
<p>{{t_e}}</p>
<div class="featured" data-bs-toggle="modal" data-bs-target="#testing">
  <a class="btn">Details</a>
</div>

<h3>Animal deaths</h3>
<p>{{d_sum}}</p>



<p>Buying price {{b_p}}</p>
<p>Total Expenses {{t_e}}</p>
<p>Expected Profit{{exp_profit}}</p>
<p>Gross revenue{{rev}}</p>
<p>net Profit{{real_profit}}</p>
<p>net Profit{{batch.group}}</p>
<a class="btn" href="{%url 'new_death' batch.id%}">death</a>
<a class="btn" href="{%url 'new_customer' batch.id%}">customer</a>
<a class="btn" href="{%url 'new_revenue' batch.id%}">revenue</a>
<a class="btn" href="{%url 'new_expense' batch.id%}">expense</a>

<p>total exp2{{total}}</p>

{% for t in t_s%}
<h1>{{t}}</h1>
{% endfor%}
{% for item in revenue_by_customer_list%}
<h1>{{item}}</h1>

{% endfor%}
{% for item in expense_by_group_list%}
<h1>{{item}}</h1>

{% endfor%}
<div class="modal fade" id="testing" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document"
    style="box-shadow: 0 0 5px #c403f4, 0 0 5px #c403f4, 0 0 50px #c403f4, 0 0 25px #c403f4;">
    <div class="modal-content">
      <div class="modal-header"> <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"> <span
            aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body p-0 row">
        <div class=""> <img src="" width="100%" height="100%" /> </div>
        <div class="details col-12 col-lg-7">
          <center>
            <!-- Expense Charts -->
            <div>
              <div>
                <canvas id="myChart"></canvas>
              </div>

              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

              <script>
                const labels = {{ label| safe}};

                const data = {
                  labels: labels,
                  datasets: [{
                    label: 'My First dataset',
                    backgroundColor: ['red', 'blue', 'orange'],
                    borderColor: 'rgb(255, 99, 132)',
                    data: {{ data| safe}},
      }]
    };

                const config = {
                  type: 'bar',
                  data: data,
                  options: {}
                };
              </script>


              <script>
                const myChart = new Chart(
                  document.getElementById('myChart'),
                  config
                );
              </script>
            </div>
            <div>



          </center>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
  .btn {
    margin: 5px;
    background-color: #ecb21f;
    border-style: solid;
    width: fit-content;
    padding: 10px 10px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 4px;
    cursor: pointer;
  }

  .btn:hover {
    color: #050801;
  }
</style>





<!-- Revenue Charts -->
<div>
  <canvas id="myChart2"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const labels2 = {{ label2| safe}};

  const data2 = {
    labels: labels2,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: ['red', 'blue', 'orange'],
      borderColor: 'rgb(255, 99, 132)',
      data: {{ data2| safe}},
    }]
  };

  const config2 = {
    type: 'bar',
    data: data2,
    options: {}
  };
</script>


<script>
  const myChart2 = new Chart(
    document.getElementById('myChart2'),
    config2
  );
</script>




{% endblock %}