<div>
  <canvas id="myChart"></canvas>
</div>
 
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const labels = {{labels|safe}};

  const data = {
    labels: labels,
    datasets: [{
      label: 'My First dataset',
      backgroundColor: ['red','blue','orange'],
      borderColor: 'rgb(255, 99, 132)',
      data: {{data|safe}},
    }]
  };

  const config = {
    type: 'bar',
    data: data,
    options: {}
  };
</script>


<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
